# Core
    fastapi
    uvicorn[standard]
    python-dotenv

# Database
    sqlalchemy
    psycopg2-binary
    alembic

# Auth
    passlib[bcrypt]
    python-jose[cryptography]

# Validation / Serialization
    pydantic[email]

# Dev Tools
    black
    flake8
    isort
    mypy
    types-python-jose
    types-passlib
    pytest
    httpx
    coverage
